<%- content_for :title, "Sign in" %>
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), html: {role: "form", class: "form-horizontal"}) do |f| %>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <h3>Sign in</h3>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :email, class: "col-lg-2 control-label", auofocus: true %>
    <div class="col-lg-10">
      <%= f.text_field :email, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :password, class: "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.password_field :password, class: "form-control" %>
    </div>
  </div>
  <% if devise_mapping.rememberable? -%>
    <div class="form-group">
      <div class="col-lg-offset-2 col-lg-10">
        <div class="checkbox">
          <label>
            <%= f.check_box :remember_me %> Stay signed in
          </label>
        </div>
      </div>
    </div>
  <% end -%>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit "Sign in", data: { disable_with: "Authenticating..." }, class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
<%= render "restaurants/shared/links" %>